services:
  nickel-auth:
    image: tfourj/nickel-auth:latest
    container_name: nickel-auth
    ports:
      - '3000:3000' # Use 127.0.0.1:3000:3000 if you want to use reverse proxy
    restart: unless-stopped
    volumes:
      - ./api_keys.json:/app/api_keys.json:ro
      - ./banned-ips.log:/app/banned-ips.log
    env_file: ".env"
    labels:
      - com.centurylinklabs.watchtower.enable=true
      - com.centurylinklabs.watchtower.scope=nickel-auth

  watchtower-nickel-auth:
    image: containrrr/watchtower
    container_name: watchtower-nickel-auth
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: --cleanup --interval 300 --scope nickel-auth
    restart: unless-stopped